/* General */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Desktop first */

/* Viewport-container */

.container-viewport{
  height: 100vh;
}

/* header layout */


/* Flex-padre */
.container{
 width: 1170px;
 background-color: black;
 display: flex;
}
