/* general */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 color: #fff;
}

/* Computer first */


/* utilitylies */

/* typo */
a{
 text-decoration: none;
 color: white;

}
/* logo */

.logo{
 width: 60%;
 padding-top: 10px;
 padding-bottom: 20px;
}

.logo-small{
 display: none;
 width: auto;
}


/* img */



.home{
 width: 15%;
 filter: opacity(.5);
}

.home-30{
 width: 20%;
}

.home-10{
 width: 10%;
}

/* flex */
.flex{
 display: flex;
}

/* layout */
.padding-left{
 padding-left: 5px;
}

.padding-left-10{
 padding-left: 10px;
}

.border-left{
 border-left: 3px solid green;
 padding-left: 10px;
}

.border-bottom{
 border-bottom: 1px solid green;
 width: 90%;
 padding-bottom: 10px;
}

.border-bottom-menu{
 padding-bottom: 0;
 width: 50%;
}

.padding-left-13{
 padding-left: 13px;
}

.padding-bottom-10{
 padding-bottom: 10px;
}

.padding-bottom-20{
 padding-bottom: 20px;
}

.padding-top-10{
 padding-top: 10px;
}

.border-radios{
 border-radius: 50%;
 background-color: grey;
}

.flex-basisi{
 flex-basis: calc(100 / 6);
}

.text-center{
 text-align: center;
}



/* icons */

i.far.fa-play-circle{

}

/* btn */

.btn{
 padding: 5px 9px;
 border: 1px solid white;
 height: 35px;
 border-radius: 10px;
 color: white;
 text-decoration: none;
 margin-top: 2%;
 margin-right: 10px;
}

/* img */
img{
 width: 100%;
}




/* container vh 100  flex-padre*/
.app{
 display: flex;
 flex-direction: column;
 height: 100vh;
 background: lightblue;
}

/* main window-flex grow  flex-figlio*/

.main-window{
 flex-grow: 1;
 display: flex;
 background: red;
}

/* sidebar flex-nipote */



.sidebar{
 flex-basis: 230px;
 background: green;
 display: flex;
 flex-direction: column;
}

.sidebar-top{
 flex-grow: 1;
 background: black;
}

.list-description{
 align-items: center;
 filter: invert(.5);
 align-self: center;
}

.list-white{
 filter: invert(.1);
}

 .siderbar-top p:hover .list-description{
 filter: invert(.5);
}

.sidebar-top li:hover img,
.sidebar-top li:hover p{
 filter: invert(.1);
 cursor: pointer;
}


.sidebar-bottom{
  /* height: 80px; */
  background: black;
}


/* contanet */
.content{
 flex-grow: 1;
 background: #444;
 position: relative;
}

.content-top-bar{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 90px;
 background: rgb(11 11 11 / 50%);
 z-index: 1;
 justify-content: flex-end;
}



.content .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 90px 15px 30px;
}

.list-menu{
 display: flex;
 list-style: none;
 flex-wrap: wrap;
 justify-content: center;
 width: 90%;
 margin-left: 10%;
 padding-top: 10px;
 font-size: 12px;
 color: grey;
}

#line::after{
  content: "";
  display: block;
  height: 2px;
  background-color: green;
  width: 15%;
  margin-left: 42.5%;
}



.option{
 flex-basis: calc(100% / 6 );


}

.content-category{
 /* height: 400px; */
 margin-bottom: 30px;
}

/* album flex-terzo livello */

.album-list{
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}

.album{
 flex-basis: calc(100% / 6 - 15px);
 /* height: 300px; */
 margin-right: 15px;
 background: blue;
 margin-bottom: 15px;
}

.portfolio-item{
 position: relative;
 margin-bottom: 10px;
 cursor: pointer;
 cursor: pointer;
 overflow: hidden;
}

.portfolio-layover{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(26, 188, 156, .7);
 opacity: 0;
 transition: opacity .4s;
}

.portfolio-layover i{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-size: 70px;
 color: #fff;
}

.portfolio-item:hover .portfolio-layover{
 opacity: 1;
}

.content-menu{


}


.player{
 display: flex;
 background: #333;

}

/* footer */

.player-album,
.player-controller,
.player-audio{
 height: 80px;
}

.player-album{
 flex-basis: 230px;
}

.player-controller{
 flex-basis: 40%;
}

.player-audio{
  flex-basis: 230px;
}






/* media */
@media screen and (max-width: 1024px){
 /* album */

 .album{
   flex-basis: calc(100% / 4 );

 }


}




@media screen and (max-width: 600px){
 /* logo */

 .logo{
   display: none;
 }

 .logo-small{
   display: block;
   padding-top: 5px;
 }


  /* layout */
 .flex-basis-600px{
   flex-basis: 7%;
 }

 .display-none{
  display: none;
 }

 .border-none{
  border-left: none;
  padding-left: 0;
  border-bottom: none;
 }

 .padding-top{
   padding-top: 10px;
 }

 .padding-left-0{
   padding-left: 0;
 }
 .padding-top-0{
   padding-top: 0;
 }

 .padding-bottom-0{
   padding-bottom: 0;
 }

.size-icon{
 font-size: 80%;
 margin-left: 35%;
}

.padding-bottom{
 padding-bottom: 10px;
}



 /* img */
 .img{
   width: 50%;
   margin-left: 25%;
 }

 .home{
   filter: invert(.1);
 }

 /* flex-baisi */
 .option{
   flex-basis: calc(100% / 4)
 }

 .album{
   flex-basis: calc(100% / 2);
 }

}
