/* General */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* Desktop first */

/* Viewport-container */

.container-viewport{
  height: 100vh;
}

/* header layout */


/* Flex-padre */
.container{
 /* width: 1170px */
 background-color: black;
 display: flex;
 justify-content: space-between;
 align-items: center;
}


/* main layout */

.container-main{
  display: flex;

}

.container-aside{
 display: flex;
 flex-direction: column;
 background-color: black;
 padding-left: 10px;
 flex-wrap: wrap;
 flex-basis: 200px;
 align-items: stretch;
 max-width: 100%;
}

.playlist{
 padding-top: 10px;
}

.list{
 color: white;
 margin-bottom: 10px;
 margin-top: 10px;
}

.list-base{
margin-top: 300px;
}

.list .list-base::after{
  content: ""
  width: 100px;
  color: white;
}








/* utilyties */

/* typo */

h1{
 color: white;
}

a{
 text-decoration: none;
 color: white;
}

li{
 padding-bottom: 10px;
}

/* ul,
div{
 display: flex;
} */


/* btn */
.btn{
 color: white;
 font-size: 20px;
 border: 1px solid white;
 border-radius: 10px;
 padding: 10px 10px;
 min-width: 150px;
 margin: 10px 0;
}

.padding-left{
 padding-left: 10px;
}

.padding-right{
 padding-right: 10px;
}
