/* general */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 color: #fff;
}

.app{
 display: flex;
 flex-direction: column;
 height: 100vh;
 background: lightblue;
}

.main-window{
 flex-grow: 1;
 display: flex;
 background: red;
}

.sidebar{
 flex-basis: 230px;
 background: green;
 display: flex;
 flex-direction: column;
}

.sidebar-top{
 flex-grow: 1;
 background: #cccccc;
}

.sidebar-bottom{
  height: 80px;
  background: purple;
}

.content{
 flex-grow: 1;
 background: #444;
 position: relative;
}

.content .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #000;
}

.content-category{
 height: 400px;
}

.player{
 height: 80px;
 /* debug */
 background: #000;
}
